body {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    margin: 0;
    background-color: #FFFFFF;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding: 20px; /* Adiciona uma margem interna ao redor do conteúdo */
    box-sizing: content-box; /* Inclui o padding na largura total do elemento */
}

.container {
    width: 100%;
    max-width: 800px
}
h1 {
    color: #09090a;
    
    text-align: center;
}

label {
    color: #C7AFFF;
    font-weight: bold;
    font-size: 12px;
}

input[type=text], input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #C7AFFF;
    border-radius: 4px;
}

button {
    background: linear-gradient(90deg, #996ddf 0%, #c7afff 100%);
    color: #FFFFFF;
    padding: 10px 80px;
    border-radius: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
   
}

button:hover {
    background-color: #996ddf;
    color: #09090a;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #6e6b70;
}

th, td {
    border: 1px solid #09090a;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #09090a;
    color: white;
}
legend {
    color: #09090a;
    font-weight: bold;
    font-size: 15px;
    text-align: center;

}