body{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    background-color: #996DFF; 

    width: 100%;
    height: 100hv;

    
    display: flex;

    align-items: center;
    justify-content: center;

    font-family: 'Sora', sans-serif;

}

#relogio {


    width: 300px;
    height: 500px;

    background-color: #161A24;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}

#numeros{
    
    align-self: flex-start;

    
    font-size: 17px;
    font-weight: bold;

    display: flex;
    flex-direction: row;
   

    background-color: #e3e7f0;
    border: 1px solid #b3b3b3;
    border-radius: 10px;


    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}


.but{
  
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 25px;

    justify-content: center;
    width: 100px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    
    
    cursor: pointer;

    color: #fff;
    background-color: #252c3a;
    border: none;
    
}
.but:hover{
    background-color: #996DFF;
    color: #000;
    transition: 0.2s;
}

#tempo{

    color: #ccc;
    margin-top: 30px;
   
}




 