*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #acbaca;
}
.clock
{
    position: relative;
    width: 300px;
    height: 300px;
    background: #c9d5e0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 30px 30px 30px -10px rgba(0,0,0,0.15),
    inset 15px 15px 0 px rgba(255,255,255,0.75), 
    -15px -15px 35px rgba(255,255,255,0.55),
    inset -1px -1px 10px rgba(0,0,0,0.2);

}
